body {
    background-color: var(--main-bg-color-light-mode);
    color: var(--main-text-color-light-mode);
  }
  
a {
    color: var(--main-text-color-light-mode);
    text-decoration: none;
}

h1 {
    font-family: var(--main-font-headings);
    text-transform: uppercase;
}

a, p {
    font-family: var(--main-font-text);
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

nav a {
    text-transform: uppercase;
    font-weight: 500;
}

nav a:hover {
    color: #4B7404;
}