<div class="content-grid">
  <article class="main-content">
    <h1 class="title-test">About me</h1>
    <p>
      Alright, so my name is Madelen Sletteberg, but you can call me Maddie. I
      come equipped with two bachelor's degrees in linguistics and nursing, both
      of which I'm not using — because, well, life's too short to stick with
      Plan A when you haven't found your true passion yet. It's important to me
      to spend my life doing something that brings me joy and peace of mind.
    </p>
    <p>
      I thrive on creativity and problem-solving, and there's something
      incredibly satisfying about how code can bring order to chaos. Now, I'm
      not exactly a designer — I don't have a natural eye for aesthetics — but I
      absolutely love the challenge of turning a designer's vision into a
      functional reality through code.
    </p>
    <p>
      When I'm not buried in code, I'm likely scaling a rock wall, mountain
      biking, or exploring the great outdoors with a camping or packrafting
      trip. I've recently taken up sewing my own clothes (sustainable living for
      the win!), and I'm a voracious reader. My dream job? Writing fiction. But
      until I hit the bestseller lists, I'm happily combining my love for
      storytelling with front-end development.
    </p>
    <div class="img-container">
      <img
        src="../assets/Maddie.jpg"
        alt="Maddie mimicking the pose of a statue in the background."
      />
    </div>
  </article>
  <aside class="aside">
    <h2>Why MaddiPaddi?</h2>
    <p>
      When I was younger, people would call me "MaddePadde" (with "Padde"
      meaning "toad"). As a kid, I wasn't thrilled about the toad association,
      as they can be quite unappealing. But as I grew up and matured, I decided
      to embrace the nickname. Thus, "MaddiPaddi" was born, becoming my go-to
      nickname and gamertag for every account I created.
    </p>
    <p>
      Now I really like it, and it inspired my logo "TechToad" and the design
      for this site. Because who wouldn't want a toad with a tech twist as their
      personal mascot?
    </p>
  </aside>
</div>
