<div class="content-grid">
  <article class="main-content">
    <h1>Let's Get in Touch!</h1>
    <p>
      Whether you want to discuss a new project, share some book
      recommendations, or just say hi, I'd love to hear from you! Here's how you
      can reach me:
    </p>
    <ul>
      <li>Email: madelen.sletteberg@gmail.com (Quickest way to summon me!)</li>
      <li>
        <a href="https://www.linkedin.com/in/madelen-sletteberg-17a435257/"
          >LinkedIn</a
        >
        (Professional networking and beyond)
      </li>
      <li>
        <a href="github.com/maddipaddi">GitHub</a> (Check out my latest code
        adventures)
      </li>
    </ul>
    <p>Feel free to drop a message anytime—I'm always up for a chat!</p>
  </article>
</div>
