<article class="grid-1-col">
  <h1>Skills</h1>
  <div class="flex-basic">
    <div>
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/fluency/48/html-5.png"
        alt="html-5"
      />
      <p>HTML</p>
    </div>
    <div>
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/fluency/48/css3.png"
        alt="css3"
      />
      <p>CSS</p>
    </div>
    <div>
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/pulsar-gradient/48/javascript.png"
        alt="javascript"
      />
      <p>JavaScript</p>
    </div>
    <div>
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/color/48/figma--v1.png"
        alt="figma--v1"
      />
      <p>Figma</p>
    </div>
  </div>
</article>
