<h1>Oops! Page Not Found 🐸</h1>
<p>
  Looks like you've ventured into uncharted territory, and even my TechToad
  couldn't find this page. But don't worry, here are a few things you can do:
</p>
<ul>
  <li>Return to the<a href="/">Homepage</a>and start your journey afresh.</li>
  <li>
    Check out my <a href="/portfolio">Portfolio</a> to see some of my latest
    work.
  </li>
  <li>Learn more <a href="/about">About Me</a> and my coding adventures.</li>
</ul>
<p>
  If you believe this page should exist, feel free to
  <a href="/contact">Contact Me</a>, and I'll hop right on it!
</p>
