<article class="grid-1-col">
  <h1>Hi, I'm Maddie! 👋</h1>
  <div>
    <p>
      I'm a front-end developer in training who loves turning creative chaos
      into beautifully coded order.
    </p>
    <p>
      With a knack for problem-solving and a passion for coding, I bring designs
      to life with clean, efficient code.
    </p>
    <p>
      When I'm not coding, you'll find me scaling rock walls, exploring the
      great outdoors, or crafting my own clothes.
    </p>
    <p>
      Welcome to my digital playground — let's build something amazing together!
    </p>
  </div>
  <div>
    <div class="tech-toad-container">
      <img
        src="../assets/dall-e-tech-toad.png"
        alt="A cute toad in front of a "
      />
    </div>
    <p>This is TechToad, my mascot. They're a good boy.</p>
  </div>
  <div>
    <h1>🚧 Beware that this site is under Construction 🛠️</h1>
    <p>This is just a starting place for my portfolio.</p>
    <p>
      Rest assured that it will look better and sport cooler features very soon.
    </p>
    <p>Check back soon for some awesome content!</p>
  </div>
</article>
