:root {
    --main-bg-color-light-mode: #C0EFE6;
    --main-text-color-light-mode: #072435;
    --main-font-headings: "Raleway", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --main-font-text: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
} 

