<article class="grid-1-col">
  <h1>🚧 Under Construction 🛠️</h1>
  <div>
    <p>Hey there! Looks like you've stumbled upon a work in progress.</p>
    <p>I am busy coding away to get this section up and running.</p>
    <p>Check back soon for some awesome content!</p>
    <p>In the meantime, why not:</p>
    <ul>
      <li>
        Explore my <a href="/portfolio">Portfolio</a> to see what I've been up
        to.
      </li>
      <li>
        Learn more <a href="/about">About Me</a> and my coding adventures.
      </li>
      <li>
        Or simply <a href="/contact">Contact Me</a> if you have any questions or
        just want to chat.
      </li>
    </ul>
  </div>
  <p>Thanks for your patience — great things are coming!🐸✨</p>
</article>
